/*  
@media all and (max-width: 768px) {
} */

@media all and (max-width: 480px) {
  #carousel-model,
  .promo-button-arrow,
  .button-text,
  .carousel-container {
    display: none;
  }

  .button {
    font-size: 13px;
  }

  .mobile-logo {
    display: block;
    font-size: 50px;
    line-height: normal;
  }

  /* BURGER MENU START*/

  .menu-button,
  .close-menu {
    display: block;
    border: none;
    background-color: inherit;
  }

  .menu-button {
    margin-left: 50px;
  }

  .close-menu {
    position: absolute;
    right: 35px;
    top: 35px;
  }

  .navbar {
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding-bottom: 10px;

    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .navbar-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;;
    background-color: #aabad0;
    z-index: 15;

    transition: transform 0.2s, opacity 0.2s;
    transform: translateX(100%);
    opacity: 0;
  }

  .is-open {
    transform: translateX(0%);
    opacity: 1;
  }

  .navbar-menu {
    margin-top: 100px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu-logo {
    display: block;
    font-size: 50px;
    line-height: 66px;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    margin-bottom: 15px;
  }

  .menu-item {
    height: auto;
    border: none;
    box-shadow: none;
    padding: 5px;
    font-size: 30px;
    line-height: 60px;
  }

  .flex-menu-item {
    flex-basis: auto;
  }

  /* .menu-burger span {
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #000000;
    top: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  }

  .menu-burger {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
  }

  .menu-burger::before,
  .menu-burger::after {
    position: absolute;
    content: "";
    background-color: #000000;
    width: 100%;
    left: 0;
    height: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  }

  .menu-burger::after {
    top: 20px;
  } */

  /* BURGER MENU END */
  .promo-container {
    margin: 100px auto;
  }

  .promo-title {
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
  }

  .promo-button {
    margin-top: 30px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    padding: 5px;
  }

  .promo-mobile {
    margin-top: 30px;
    display: block;
    width: 100px;
  }

  .shop-container {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .shop-button {
    width: 100%;
    height: 50px;
    bottom: 0%;
  }

  .title-wrap {
    justify-content: space-evenly;
  }

  .title {
    font-size: 30px;
    line-height: 38px;
    margin-left: 0;
  }

  .showcase-container {
    flex-direction: column;
    /* сверху | горизонтально | снизу */
    /*  margin: 20px 30px 20px; */
  }

  .showcase-item,
  .diagram {
    width: 100%;
  }

  .showcase-price {
    margin-bottom: 20px;
  }

  .info-container {
    margin-top: 0;
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
  }

  .info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
    max-height: none;
    margin-right: 0;
  }

  .info-title {
    margin-bottom: 5px;
  }

  .info-text {
    font-size: 18px;
    line-height: 22px;
    padding: 20px;
    text-align: justify;
  }

  .info-text p {
    margin-bottom: 10px;
  }

  .info-img {
    width: 80%;
    margin-top: 5px;
  }

  .footer-container {
    width: 100%;
  }

  .footer-headline {
    flex-direction: column;
  }

  .footer-logo {
    margin-left: 0;
    font-size: 50px;
    line-height: 58px;
  }

  .footer-slogan {
    padding: 10px 5px 10px;
    margin-right: 0;
    font-size: 15px;
    line-height: 20px;
  }

  .footer-wrap {
    flex-direction: column;
    align-items: center;
  }

  .footer-menu {
    max-width: 90%;
    margin-top: 20px;
  }
  .footer-menu-wrap:not(:last-child) {
    margin-right: 30px;
  }

  .footer-contacts {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-top: 15px;
    border-top: 2px solid rgb(0, 0, 0);
    border-left: none;
    align-items: center;
  }

  .footer-contacts p {
    margin-bottom: 10px;
  }
}
