/*  
@media all and (max-width: 768px) {
} */

@media all and (max-width: 480px) {
  .header-navbar {
    width: 100%;
  }

  .header-navbar-link {
    display: none;
  }

  .header-logo {
    display: block;
    font-size: 50px;
    /*   height: 60px; */
    /*   line-height: 58px; */
    border-right: none;
  }

  #carousel-model,
  .promo-button-arrow,
  .button-text,
  .carousel-container {
    display: none;
  }

  .promo-title {
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
  }
  .button {
    font-size: 13px;
  }
  .promo-button {
    margin-top: 30px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    padding: 5px;
  }

  .promo-mobile {
    margin-top: 30px;
    display: block;
    width: 100px;
  }

  .shop-container {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .shop-button {
    width: 100%;
    height: 50px;
    bottom: 0%;
  }

  .title-wrap {
    justify-content: space-evenly;
  }

  .title {
    font-size: 30px;
    line-height: 38px;
    margin-left: 0;
  }

  .showcase-container {
    flex-direction: column;
    /* сверху | горизонтально | снизу */
    /*  margin: 20px 30px 20px; */
  }

  .showcase-item,
  .diagram {
    width: 100%;
  }

  .showcase-price {
    margin-bottom: 20px;
  }

  .info-container {
    margin-top: 0;
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
  }

  .info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
    max-height: none;
    margin-right: 0;
  }

  .info-title {
    margin-bottom: 5px;
  }

  .info-text {
    font-size: 18px;
    line-height: 22px;
    padding: 20px;
    text-align: justify;
  }

  .info-text p {
    margin-bottom: 10px;
  }

  .info-img {
    width: 80%;
    margin-top: 5px;
  }

  .footer-container {
    width: 100%;
  }

  .footer-headline {
    flex-direction: column;
  }

  .footer-logo {
    margin-left: 0;
    font-size: 50px;
    line-height: 58px;
  }

  .footer-slogan {
    padding: 10px 5px 10px;
    margin-right: 0;
    font-size: 15px;
    line-height: 20px;
  }

  .footer-wrap {
    flex-direction: column;
    align-items: center;
  }

  .footer-menu {
    max-width: 90%;
    margin-top: 20px;
  }
  .footer-menu-wrap:not(:last-child) {
    margin-right: 30px;
  }

  .footer-contacts {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-top: 15px;
    border-top: 2px solid rgb(0, 0, 0);
    border-left: none;
    align-items: center;
  }

  .footer-contacts p {
    margin-bottom: 10px;
  }
}
