#c {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  /* z-index: -1;  чтобы холст появлялся позади других элементов */
}

.diagram {
  display: inline-block;
  width: 410px;
  height: 230px;
}

a {
  color: #000000;
  text-decoration: none;
}
/* a:hover {
  text-decoration: underline;
} */

.header-navbar {
  display: flex;
}

.header-navbar > a:nth-last-child(1) {
  border-right: none;
  flex-grow: 1;
}

.flex-navbar-element {
  flex-basis: 183px;
}

.header-navbar-link {
  /* flex-grow: 1; */
  height: 80px;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  border-left: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  line-height: 78px;
}

.header-logo {
  flex-grow: 1;
  font-size: 70px;
  /*  line-height: 82px; */
}

.promo-title {
  font-size: 84px;
  line-height: 130px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.promo-title.active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.promo-button {
  font-size: 17px;
  line-height: 28px;
  border: none;
  background-color: inherit;
  cursor: pointer;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.promo-button.active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
}

.promo-container {
  margin-bottom: 150px;
}

.promo-img {
  position: relative;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: 120px;
}

.promo-img .promo-title {
  position: absolute;
  left: 10%;
  bottom: 27%;
}

.promo-img .promo-button {
  position: absolute;
  left: 60%;
  bottom: 20%;
}

.shop-container {
  display: flex;
  margin-top: 100px;
  margin-bottom: 170px;
}

.shop-img-wrap {
  position: relative;
}

.shop-img {
  width: 100%;
}

.shop-button {
  font-family: "Roboto", sans-serif;
  position: absolute;
  right: 0%;
  bottom: 0.5%;
  text-align: center;
  width: 280px;
  height: 110px;
  border: none;
  font-size: 18px;
  background-color: #aabad0; /*  #ffbcbc; */
  cursor: pointer;
}

.title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-bottom: 75px;
}

.title {
  font-family: "Roboto", sans-serif;
  margin-left: 65px;
  font-weight: 700;
  font-size: 70px;
  line-height: 108px;
}

.title-wrap > .promo-button {
  margin-right: 15px;
}

.showcase-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 75px;
}

.showcase-img {
  width: calc(90vw / 3);
}

.showcase-item {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.showcase-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.brand-names-decor {
  color: #ffbcbc;
  font-family: "Roboto", sans-serif;
  font-size: 152px;
  font-weight: 700;
}

.info-container {
  display: flex;
  justify-content: center;
  margin-top: 170px;
  margin-bottom: 150px;
}

.info-wrap {
  max-width: 470px;
  max-height: 330px;
  margin-right: 110px;
}

.info-title {
  margin-left: 0;
  margin-bottom: 20px;
}

.info-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.animate-show {
  /*   transform: translate(0px, 120%); */
  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.animate-show.active,
.active .animate-show {
  transform: translate(0px, 0px);
  opacity: 1;
}

.info-text p {
  margin-bottom: 30px;
}

.footer-container {
  background-color: #aabad0;
}

.footer-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.footer-logo {
  margin-left: 140px;
  font-size: 69px;
  line-height: 108px;
}

.footer-slogan {
  margin-right: 140px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  max-width: 60%;
  margin-top: 40px;
}

.footer-menu-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 36px;
}

.footer-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  margin-bottom: 10px;
}

.footer-menu-item,
.footer-contacts {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.footer-menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contacts {
  margin-right: 140px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border-left: 2px solid rgb(0, 0, 0);
  padding-left: 35px;
}

.scroll-model {
  transform: scale(0);
  opacity: 0;
}

.scroll-model.active {
  transform: scale(1);
  opacity: 1;
  transition: all 0.8s ease-in 0.5s;
}

.fly {
  position: fixed;
  z-index: 1;
  display: block;
  width: 200px;
  height: 200px;
}

#scrollModel1 {
  left: 0;
}
#scrollModel2 {
  right: 0;
}
